<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <link rel="stylesheet" href="../../public/stylesheets/app.css">
        <title>Finstagram</title>
    </head>
        <header>
            <h1>Finstagram</h1>
        </header>
        
        <main role="main">
            
<article class="post">
    <div class="user-info">
        <a class="photo" href="https://lmgtfy.com/">
        <h2>TheACT</h2>
        <h3>20 minutes ago</h3>
    </div>
    <a class="photo" href="#"></a>
        <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/15181492_10155633947938747_704709766410883548_n.jpg?oh=c124136cdffaf32748f76826b08bc768&oe=59BFC5A1" 
        alt="Post from TheACT">
    </a>
    <div class="actions">
        0 likes
        <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
            <li>
                <p>
                TheACT: I am become anime
                        </p>
                        </li>
                        </ul>
            </article>

<article class="post">
    <div class="user-info">
        <img src="www.google.ca" alt="HelloIamDoge">
        <h2>HelloIamDoge</h2>
        <h3>2 days ago</h3>
    </div>
    <a class="photo" href="#">
        <img src="http://www.dogbreedslist.info/uploads/allimg/dog-pictures/Samoyed-2.jpg" alt="post from HelloIamDoge">
    </a>
    <div class="actions">
        0 likes
        <span class="comment-count">0 comments</span>
    </div>
    <ul class="comments">
        <li>
            <p>HelloIamDoge: Hello I love doge</p>
        </li>
    </ul>
</article>

<article class="post">
    <div class="user-info">
        <img src="www.google.ca" alt="GoodbyeIHateDoge">
        <h2>GoodbyeIHateDoge</h2>
        <h3>1 day ago</h3>
    </div>
    <a class="photo" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Grumpy_Cat_by_Gage_Skidmore.jpg" alt="post from GoodbyeIHateDoge">
    </a>
    <div class="actions">
        0 likes
        <span class="comment-count">0 comments</span>
    </div>
    <ul class="comments">
        <li>
            <p>GoodbyeIHateDoge: I look like this because of dogs</p>
        </li>
    </ul>
</article>
        </main>
</html>