<!doctype html>
<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
                <h2>TheACT</h2>
                <h3>20 minutes ago</h3>
        </header>
        <main role="main">
            <article>
                <a href="https://lmgtfy.com/">
                    <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/15181492_10155633947938747_704709766410883548_n.jpg?oh=c124136cdffaf32748f76826b08bc768&oe=59BFC5A1" 
                    alt="Post from TheACT">
                    <div>0 likes
                    <span>0 comments</span>
                        <ul>
                        <li><p>TheACT: I am become anime</p></li>
                        </ul>
                </div>
                </a>
            </article>
        </main>
    </body>
</html>